<table class="table table-bordered table-striped">
    <caption>
        <h3>Electric Monthly Cost</h3>
    </caption>
    <thead>
         <tr id="table-row-head">
              <th> 
              </th>
              <th> Jan
              </th>
              <th> Feb
              </th>
              <th> Mar
              </th>
              <th> Apr
              </th>
              <th> May
              </th>
              <th> Jun
              </th>
              <th> Jul
              </th>
              <th> Aug
              </th>
              <th> Sep
              </th>
              <th> Oct
              </th>
              <th> Nov
              </th>
              <th> Dec
              </th>
              <th> Annual
              </th>
				<th> Max
              </th>
            </tr>
    </thead>
    <tbody>
        <tr class="table-row-even">
              <th> Energy Charges ($)
              </th>
             <td> 8663.3 </td><td> 7818.4 </td><td> 8561.0 </td><td> 8461.3 </td><td> 8740.7 </td><td> 10974.0 </td><td> 14013.5 </td><td> 12659.8 </td><td> 10140.3 </td><td> 8693.5 </td><td> 8325.5 </td><td> 8825.0 </td><td> 115876.2 </td><td> 14013.5 </td>            </tr>
            <tr class="table-row-odd">
              <th> Demand Charges ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
            <tr class="table-row-even">
              <th> Service Charge ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
            <tr class="table-row-odd">
              <th> Adjustment ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
            <tr class="table-row-odd">
              <th> Taxes ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
              <tr class="table-row-odd">
              <th> Total ($)
              </th>
              <td> 8663.3 </td><td> 7818.4 </td><td> 8561.0 </td><td> 8461.3 </td><td> 8740.7 </td><td> 10974.0 </td><td> 14013.5 </td><td> 12659.8 </td><td> 10140.3 </td><td> 8693.5 </td><td> 8325.5 </td><td> 8825.0 </td><td> 115876.2 </td><td> 14013.5 </td>            </tr>
    </tbody>
</table>