<table class="table table-bordered table-striped">
    <caption>
        <h3>Natural Gas Monthly Cost</h3>
    </caption>
    <thead>
        <tr id="table-row-head">
              <th> 
              </th>
              <th> Jan
              </th>
              <th> Feb
              </th>
              <th> Mar
              </th>
              <th> Apr
              </th>
              <th> May
              </th>
              <th> Jun
              </th>
              <th> Jul
              </th>
              <th> Aug
              </th>
              <th> Sep
              </th>
              <th> Oct
              </th>
              <th> Nov
              </th>
              <th> Dec
              </th>
              <th> Annual
              </th>
				<th> Max
              </th>
            </tr>
    </thead>
    <tbody>
        <tr class="table-row-even">
              <th> Energy Charges ($)
              </th>
             <td> 11956.5 </td><td> 8792.5 </td><td> 4628.9 </td><td> 1701.0 </td><td> 135.7 </td><td> 1.0 </td><td> 0.6 </td><td> 0.6 </td><td> 17.8 </td><td> 1657.9 </td><td> 4589.4 </td><td> 7597.6 </td><td> 41079.3 </td><td> 11956.5 </td>            </tr>
            <tr class="table-row-odd">
              <th> Demand Charges ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
            <tr class="table-row-even">
              <th> Service Charge ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
            <tr class="table-row-odd">
              <th> Adjustment ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
            <tr class="table-row-odd">
              <th> Taxes ($)
              </th>
              <td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td><td> 0.0 </td>            </tr>
              <tr class="table-row-odd">
              <th> Total ($)
              </th>
              <td> 11956.5 </td><td> 8792.5 </td><td> 4628.9 </td><td> 1701.0 </td><td> 135.7 </td><td> 1.0 </td><td> 0.6 </td><td> 0.6 </td><td> 17.8 </td><td> 1657.9 </td><td> 4589.4 </td><td> 7597.6 </td><td> 41079.3 </td><td> 11956.5 </td>            </tr>
    </tbody>
</table>