<table class="table table-hover table-bordered">
    <thead>
        <tr class="success">
            <th></th>
            <th>Facility [Hours]</th>
        </tr>
    </thead>
    <tbody>
        <% for (var type in output.comfortSetpointSummary){ %>
            <tr>
                <td>
                    <%=type %>
                </td>
                <td>
                    <%=output.comfortSetpointSummary[type].value %>
                </td>
            </tr>
            <%} %>
    </tbody>
</table>
