<!DOCTYPE html>
<html ng-app>
    
    <head>
        <title>EEB Hub Retrofit Manager</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="css/bootstrap-fileupload.css" rel="stylesheet">
        <link href="css/partial.css" rel="stylesheet">
        <style type="text/css">
            /******PROGRESS BAR******/

            #filter {
            	position: fixed;
            	top: 0;
            	left: 0;
            	background: #111;
            	min-width: 100%;
            	min-height: 100%;
            	opacity: 0.1;
            }
            
            .progress{
                height: 30px;
            }
            
            .loading-div {
                z-index: 100;
            	position: fixed;
                top: 55%;
            	display: none;
            	padding: 10px;
            	text-align: center;
            	margin: 0 20%;
            	width: 60%;
            	max-width: 800px;
            	background: #fff;
            }
            #detailed-output-description {
            display: none;
            }
            
            #detailed-output:hover~#detailed-output-description{
                display: block;
            }
            /******GOOGLE MAPS******/
            .map, #map-canvas {
                height: 270px;
                width:100%;
                margin: 0px;
                padding: 0px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
              }
              .controls {
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
              }
        
             #pac-input {
                background-color: #fff;
                padding: 4px 6px;
                width:100%;
                height: 30px;
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;
                color: #555;
                vertical-align: middle;
                flow: ellipsis;
              }
        
              #pac-input:focus {
                border-color: #4d90fe;
              }
        
              .pac-container {
                font-family: Roboto;
              }
        
              #type-selector {
                color: #fff;
                background-color: #4d90fe;
                padding: 5px 11px 0px 11px;
              }
        
              #type-selector label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
              }

        </style>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="js/building101Data.js"></script>
        
        <!--PROGRESS BAR----------------------------------->
        <script>
            function printValue(sliderID, textbox) {
                var x = document.getElementById(textbox);
                var y = document.getElementById(sliderID);
                x.value = y.value;
            }

            window.onload = function() {
                printValue('ceilingSlider', 'ceilingRangeValue');
                printValue('floorSlider', 'floorRangeValue');
                printValue('groundSlider', 'groundRangeValue');
                printValue('wallSlider', 'wallRangeValue');
                printValue('shadingDeviceSlider', 'shadingDeviceRangeValue');
                printValue('overhangSlider', 'overhangRangeValue');
                printValue('exteriorSlider', 'exteriorRangeValue');
                printValue('interiorSlider', 'interiorRangeValue');
                printValue('obstructionSlider', 'obstructionRangeValue');
            }
        </script>
        <!--GOOGLE MAPS----------------------------------->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script>
            function initialize() {
              var mapOptions = {
                center: new google.maps.LatLng(39.893258599099475, -75.17451879743021),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                mapTypeControl: false,
                panControl: false,
                streetViewControl: false,
                zoomControl: false
              };
              var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            
              var input = /** @type {HTMLInputElement} */(
                  document.getElementById('pac-input'));
            
              var types = document.getElementById('type-selector');
              map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
              map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);
            
              var autocomplete = new google.maps.places.Autocomplete(input);
              autocomplete.bindTo('bounds', map);
            
              var infowindow = new google.maps.InfoWindow();
              var marker = new google.maps.Marker({
                map: map
              });
            
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                  return;
                }
            
                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                } else {
                  map.setCenter(place.geometry.location);
                  map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setIcon(/** @type {google.maps.Icon} */({
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
            
                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }
            
                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
              });
            
              // Sets a listener on a radio button to change the filter type on Places
              // Autocomplete.
              function setupClickListener(id, types) {
                var radioButton = document.getElementById(id);
                google.maps.event.addDomListener(radioButton, 'click', function() {
                  autocomplete.setTypes(types);
                });
              }
            
              setupClickListener('changetype-all', []);
              setupClickListener('changetype-establishment', ['establishment']);
              setupClickListener('changetype-geocode', ['geocode']);
            }
            
            google.maps.event.addDomListener(window, 'load', initialize);
            
            function bar(evt){
            var k=evt.keyCode||evt.which;
            return k!=13;
            }
        </script>

    </head>
    
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">EEB Hub Retrofit Manager</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="data-structure">Data Structure</a>
                            </li>
                            <li>
                                <a href="walls">Wall Editor</a>
                            </li>
                            <li>
                                <a href="">Parallel Simulations</a>
                            </li>
                            <li>
                                <a href="energy-use">EnergyPlus Graphs</a>
                            </li>
                            <li>
                                <a href="simulations">EnergyPlus Files</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                    <div class="pull-right text-right">

                        <!--input type="radio" name="unitoption" value="si" checked="checked" onclick='$(".unit").html("m");$("#heating-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"24\" name=\"heating_setpoint\" /><span class=\"add-on\">&#186;C</span>");$("#cooling-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"26\" name=\"cooling_setpoint\" /><span class=\"add-on\">&#186;C</span>");$(".illu-unit").html("lux");$("#illuminance").html("<option value=\"150\">150 - storage</option><option value=\"200\">200 - casual work</option><option value=\"300\">300 - rough work</option><option value=\"400\">400 - office work (EU)</option><option value=\"500\" selected>500 - office work (US)</option>");$("#si-ip").val("si");$("body").css("background", "rgb(229, 229, 229)");'/><font color="yellow"> SI</font>
                        <input type="radio" name="unitoption" value="ip" onclick='$(".unit").html("ft");$("#heating-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"75\" name=\"heating_setpoint\" /><span class=\"add-on\">&#186;F</span>");$("#cooling-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"79\" name=\"cooling_setpoint\" /><span class=\"add-on\">&#186;F</span>");$(".illu-unit").html("lm/ft&#178;");$("#illuminance").html("<option value=\"150\">15 - storage</option><option value=\"200\">20 - casual work</option><option value=\"300\">30 - rough work</option><option value=\"400\">40 - office work (EU)</option><option value=\"500\" selected>50 - office work (US)</option>");$("#si-ip").val("ip");$("body").css("background", "rgb(194, 194, 194)");'/><font color="yellow"> IP</font-->
                
                    <ul class="nav pull-right">
                        <li><a href="http://www.buildsci.us/openstudio-nodejs.html">by PSU & UMd</a></li>
						</ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Intro -->
        <div class="container">
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <h3 ng-cloak class="ng-cloak" ng-init="myBuilding='My Building'">{{myBuilding}}</h3>
                        <li>
                            <a href="#building"><i class="icon-map-marker"></i> Building</a>
                        </li>
                        <li>
                            <a href="#architecture"><i class="icon-home"></i> Architecture</a>
                        </li>
                        <li>
                            <a href="#construction"><i class="icon-th-large"></i> Construction</a>
                        </li>
                        <li>
                            <a href="#mechanical"><i class="icon-cog"></i> Mechanical</a>
                        </li>
                        <li>
                            <a href="#schedules"><i class="icon-time"></i> Schedules</a>
                        </li>
                        <li>
                            <a href="#conservation"><i class="icon-leaf"></i> Conservation</a>
                        </li>
                        <li><hr style="color:lightgray;background-color:lightgray;height:1px;border:none;"/></li>
                        <li style="padding-left:13px;padding-bottom:15px;">
                        
                             <i class="icon-adjust"></i>  <b>Units</b> &ensp;&ensp;<div class="btn-group" data-toggle="buttons-radio">
                             <input type="button" id="unitoptionSI" name="unitoption" value="SI" class="btn active" onclick='$(".unit").html("m");$("#heating-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"24\" name=\"heating_setpoint\" disabled /><span class=\"add-on\">&#186;C</span>");$("#cooling-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"26\" name=\"cooling_setpoint\" disabled /><span class=\"add-on\">&#186;C</span>");$(".illu-unit").html("lux");$("#illuminance").html("<option value=\"150\">150 - storage</option><option value=\"200\">200 - casual work</option><option value=\"300\">300 - rough work</option><option value=\"400\">400 - office work (EU)</option><option value=\"500\" selected>500 - office work (US)</option>");$("#si-ip").val("si");'>
                             <input type="button" id="unitoptionIP" name="unitoption" value="IP" class="btn" onclick='$(".unit").html("ft");$("#heating-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"75\" name=\"heating_setpoint\" disabled /><span class=\"add-on\">&#186;F</span>");$("#cooling-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"79\" name=\"cooling_setpoint\" disabled /><span class=\"add-on\">&#186;F</span>");$(".illu-unit").html("lm/ft&#178;");$("#illuminance").html("<option value=\"150\">15 - storage</option><option value=\"200\">20 - casual work</option><option value=\"300\">30 - rough work</option><option value=\"400\">40 - office work (EU)</option><option value=\"500\" selected>50 - office work (US)</option>");$("#si-ip").val("ip");'>
                         </div>
                         </li>
                    </ul>
                </div>
                
                <!-- ################################### Building Section ################################################## -->
                <div class="span9">
                    <form name="platformForm" id="comprehensive-form" action="/simulate" method="post" onsubmit="$('#baseline-form, header, .top-nav, footer').fadeTo('slow', 0.33);$('.loading-div').fadeIn('slow');$('html,body').css('overflow', 'hidden');loading();return true;">
                    <section id="building">
                        <div class="box-unit building">
                            <div class="page-header">
                                <table>
                                    <tr>
                                        <td>
                                            <h2>Building</h2>
                                        </td>
                                        <td class="span7">
                                            <div class="pull-right text-right">
                                                
                                                <button type="button" onclick="building101Data_comprehensive()" class="btn">
                                                    <i class="icon-plus"></i><b>Building 101 Data</b>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Building Name</h4>
                                    <input class="span3" type="text" id="buildingName" ng-model="myBuilding" name="buildingName" onfocus="if (this.value == 'My Building') {this.value = '';}">
                                    <br/>
									<input type="hidden" id="random_number" name="random_number" style="color:gray;">
									<h4>Function</h4>
                                        <div class="input-append">
                                            <select value="this.value" class="span3" id="activity_type" name="activityType">
                                                <option value="SmallOffice" disabled>Small Office</option>
                                                <option value="MediumOffice">Medium Office</option>
                                                <option value="LargeOffice" disabled>Large Office</option>
                                                <option value="Warehouse" disabled>Warehouse (non-refrigerated)</option>
                                                <option value="Retail" disabled>Core-Retail</option>
                                                <option disabled>Stand-alone Retail</option>
                                                <option disabled>Strip Mall</option>
                                                <option disabled>Primary School</option>
                                                <option disabled>Secondary School</option>
                                                <option disabled>Outpatient Healthcare</option>
                                                <option disabled>Hospital</option>
                                                <option disabled>Small hotel</option>
                                                <option disabled>Large Hotel</option>
                                                <option disabled>Quick Service Restaurant</option>
                                                <option disabled>Full Service Restaurant</option>
                                                <option disabled>Mid-Rise Apartment</option>
                                                <option disabled>High-Rise Apartment</option>
                                            </select>
                                            <span class="add-on">
                                                <a href="http://www1.eere.energy.gov/buildings/commercial/ref_buildings.html" target="_blank"><i class="icon-info-sign"></i></a>
                                            </span>
                                        </div>
									<h4>Weather <small>currently only 18 cities supported</small></h4>
                                    <div class="input-append">
                                        <select class="span3" value="this.value" id="weather_epw_location" name="weather">
                                            <option value="USA_NM_Albuquerque.Intl.AP.723650_TMY3">Albuquerque, NM</option>
                                            <option value="USA_MD_Baltimore-Washington.Intl.AP.724060_TMY3">Baltimore, MD</option>
                                            <option value="USA_ID_Boise.Air.Terminal.726810_TMY3">Boise, ID</option>
                                            <option value="USA_VT_Burlington.Intl.AP.726170_TMY3">Burlington, VT</option>
                                            <option value="USA_IL_Chicago-OHare.Intl.AP.725300_TMY3">Chicago, IL</option>
                                            <option value="USA_MN_Duluth.Intl.AP.727450_TMY3">Duluth, MN</option>
                                            <option value="USA_TX_El.Paso.Intl.AP.722700_TMY3">El Paso, TX</option>
                                            <option value="USA_AK_Fairbanks.Intl.AP.702610_TMY3">Fairbanks, AK</option>
                                            <option value="USA_MT_Helena.Rgnl.AP.727720_TMY3">Helena, MT</option>
                                            <option value="USA_TX_Houston-Bush.Intercontinental.AP.722430_TMY3">Houston, TX</option>
                                            <option value="USA_TN_Memphis.Intl.AP.723340_TMY3">Memphis, TN</option>
                                            <option value="USA_FL_Miami.Intl.AP.722020_TMY3">Miami, FL</option>
                                            <option value="USA_AZ_Phoenix-Sky.Harbor.Intl.AP.722780_TMY3">Pheonix, AZ</option>
                                            <option value="USA_PA_Philadelphia.Intl.AP.724080_TMY3" selected>Philadelphia, PA</option>
                                            <option value="SAU_Riyadh.404380_IWEC">Riyadh, SAU</option>
                                            <option value="USA_OR_Salem-McNary.Field.726940_TMY3">Salem, OR</option>
                                            <option value="USA_CA_San.Francisco.Intl.AP.724940_TMY3">San Francisco, CA</option>
                                            <option value="CAN_BC_Vancouver.718920_CWEC">Vancouver, CAN</option>
                                        </select>
                                        <span class="add-on">
                                            <a href="http://developer.eebhub.org/weather.html" target="_blank"><i class="icon-info-sign"></i></a>
                                        </span>
                                    </div>
                                    
                                    <h4>Year Built</h4>
                                    <input class="span3" type="number" min="1500" max="2020" step="1" id="year_completed" name="yearCompleted">
									
                                </div>
                                <div class="span4">
                                    <h4>Address</h4>
									 <div class="map">
                                        <input id="pac-input" class="controls" type="text" placeholder="Street, City, State, Zip" onkeypress="return bar(event)">
                                        <div id="map-canvas"></div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- ################################## Architecture Section 1 ############################################## -->
                    <section id="architecture">
                        <div class="box-unit architecture">
                            <div class="page-header">
                                <h2>Architecture
                                    <small>shape / geometry</small>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="span4" >
                                    <h4>Shape</h4>
                        			<select onchange="changeShape(this.value)" name="footprintShape" id="footprintShape" placeholder="footprintShape">
                        				<option value="Rectangle" selected> Rectangle </option>
                        				<option value="L" disabled>L Shape</option>
                        				<option value="T" disabled>T Shape</option>
                        				<option value="U" disabled>U Shape</option>
                        				<option value="H" disabled>H Shape</option>
                        				<option value="Pie" disabled>Pie</option>
                                        <option value="Polygon" disabled>Geometry From Import</option>
                                    </select>
                                
                                    <div id="extend-img" >
                                        <img style="width: 500px;" src="./img/geometry/Rectangle.png" class="img-rounded">
                                    </div>
                                </div>
                                <div class="span4">
                                    <div id="extend-div" >
                                        <br><br><br>
        			                    <div class="control-group"> <label class="control-label" for="length">Length</label>
        			                    <div class="controls input-append"> <input type="number" min="1" name="buildingLength" id="length"><span class="add-on"><span class="unit">m</span></span> </div> </div>  
        							    <div class="control-group"> <label class="control-label" for="width">Width</label>
        			                    <div class="controls input-append"> <input type="number" min="1" name="buildingWidth" id="width"><span class="add-on"><span class="unit">m</span></span> </div> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Number of Floors</h4>
                                    <input type="number" id="number_of_floors" name="numberOfFloors" min="1" min="170" step="1">
                                </div>
                                <div class="span4">
                                    <h4>Floor to Floor Height</h4>
                                    <div class="input-append">
                                        <input type="number" id="floor_to_floor_height" name="floorToFloorHeight" step="0.001">

                                        <span class="add-on"><span class="unit">m</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Orientation <small>clockwise degrees from North</small></h4>
                                        <ul class="inline">
                                             <input id="degreeSlider" type="range" class="span2" min="0" max="360" step="1" onchange="printValue('degreeSlider','degreeRangeValue')"/>
                                            <div class="input-append">
                                            <input id="degreeRangeValue" name="degreeToNorth" type="number" class="span1" min="0" max="360" step="1"/><span class="add-on">&deg;</span>
                                            </div>
                                        </ul>
                                </div>
                                <div class="span4">
                                    <h4>% Window to Wall Ratio</h4>
                                        <ul class="inline">
                                             <input id="winSlider" type="range" class="span2" min="0" max="60" step="1" onchange="printValue('winSlider','winRangeValue')"/>
                                            <div class="input-append">
                                            <input id="winRangeValue" name="windowToWallRatio" type="number" class="span1" min="0" max="100" /><span class="add-on">%</span>
                                            </div>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- #################################### Materials Section ############################################### -->
                    <section id="construction">
                        <div class="box-unit materials">
                            <div class="page-header">
                                <h2>Construction <small>materials</small></h2>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Windows</h4>
                                    <select class="span3" name="window_transmittance">
                                        <option value="0.89" disabled>Single Clear</option>
                                        <option value="0.80" selected>Double Clear</option>
                                        <option value="0.60" disabled>Double Light Tint</option>
                                        <option value="0.44" disabled>Triple Low-E</option>
                                    </select>
                                    <h4>Walls</h4>
                                    <select value="this.value" name="exterior_wall_type" class="span3">
                                        <option value="Concrete Mass" selected>Concrete Mass</option>
                                        <option value="Metal" disabled>Metal</option>
                                        <option value="Steel Framed" disabled>Steel Framed</option>
                                        <option value="Wood Framed" disabled>Wood Framed and Other</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <h4>Roof</h4>
                                    <select value="this.value" name="roof_type" class="span3">
                                        <option value="Metal" selected>Metal Roof</option>
                                        <option disabled>Insulation Entirely Above Deck</option>
                                        <option disabled>Attic and Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <!-- ######################################### Mechanical Section ########################################### -->
                    <section id="mechanical">
                        <div class="box-unit mechanical">
                            <div class="page-header">
                                <h2>Mechanical</h2>
                            </div>
                            <div class="row">
                            <div class="span4">
                                <h4>Primary HVAC System</h4>
                                    <select name="primary_hvac_type" class="span4">
                                        <option value="SystemType1" disabled>PTAC Packaged Terminal Air Conditioner</option>
                                        <option value="SystemType2" disabled>PTHP Packaged Terminal Heat Pump</option>
                                        <option value="SystemType3" disabled>Packaged Rooftop Air Conditioner + DX</option>
                                        <option value="SystemType4" disabled>Packaged Rooftop Heat Pump + DX</option>
                                        <option value="SystemType5" selected>Packaged Rooftop VAV with Reheat + DX </option>
                                        <option value="SystemType6" disabled>Packaged Rooftop VAV with parallel fan power boxes & reheat + DX</option>
                                        <option value="SystemType7" disabled>Packaged Rooftop VAV with Reheat & Chiller Water</option>
                                        <option value="SystemType8" disabled>VAV with parallel fan-powered boxes and reheat</option>
                                        <option value="SystemType9" disabled>Warm Air Furnace Gas Fired</option>
                                        <option value="SystemType10" disabled>Warm Air Furnace Electric</option>
                                    </select>
                            </div>    
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <h4>Fan Efficiency</h4>
                                    <input id="fanSlider" type="range" class="span2" min="0" max="100" onchange="printValue('fanSlider','fanRangeValue')"/>
                                    <div class="input-append">
                                    <input id="fanRangeValue" name="fanEfficiency" type="number" class="span1" min="0" max="100" value="50" /><span class="add-on">%</span>
                                    </div>
                                    <h4>Boiler Efficiency</h4>
                                    <input id="boilerSlider" type="range" class="span2" min="0" max="100" onchange="printValue('boilerSlider','boilerRangeValue')"/>
                                    <div class="input-append">
                                    <input id="boilerRangeValue" name="boilerEfficiency" type="number" class="span1" min="0" max="100" value="66"/>
                                    <span class="add-on">%</span>
                                    </div>
                                    <h4>Cooling coil rated high speed COP</h4>
                                    <div class="input-append">
                                        <input type="number" min="0" step="0.1" class="span2" id="appendedInput" value="5.5"
                                        name="coilCoolRatedHighSpeedCOP"/>
                                        <span class="add-on">Ratio</span>
                                    </div>
                                    <h4>Cooling coil rated low speed COP</h4>
                                    <div class="input-append">
                                        <input type="number" min="0" step="0.1" class="span2" id="appendedInput" value="6.6"
                                        name="coilCoolRatedLowSpeedCOP"/>
                                        <span class="add-on">Ratio</span>
                                    </div> 
                                </div>
                                <div class="span4">
                                <h4>Economizer Type</h4>
                                    <select name="economizerType" class="span3">
                                        <option value="No Economizer">No Economizer</option>
                                        <option value="Economizer" disabled>Economizer</option>
                                    </select>
                                <h4>Boiler Fuel Type</h4>
                                    <select name="boilerFuelType" class="span3">
                                        <option value="NaturalGas">Natural Gas</option>
                                    </select>
                                    <h4>Heating Set Point</h4>
                                    <div class="input-append" id="heating-setpoint">
                                        <input type="number" min="0" class="span2" id="appendedInput" value="24" name="heatingSetpoint" />
                                        <span class="add-on">&#186;C</span>
                                    </div>
                                    <h4>Cooling Set Point</h4>
                                    <div class="input-append" id="cooling-setpoint">
                                        <input type="number" min="0" class="span2" id="appendedInput" value="26" name="coolingSetpoint" />
                                        <span class="add-on">&#186;C</span>
                                    </div>
                                </div>
                            </div>
                            <h2 class="text-right">
                                <small>HVAC system type & efficiency are based on building type defaults</small>
                            </h2>
                    </section>
                    
                    <!-- ########################################### Schedules Section ########################################## -->
                    <section id="schedules">
                        <div class="box-unit schedules">
                            <div class="page-header">
                                <h2>Schedules</h2>
                                <h2>
                                    <small>Occupancy, lighting, equipment, HVAC schedules are defaulted by building function.</small>
                                </h2>
                            </div>
    							<div id="graph-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    							<input type='hidden' name='schedule[]' id='schedule_val0' value=''> </input>
                            	<input type='hidden' name='schedule[]' id='schedule_val1' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val2' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val3' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val4' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val5' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val6' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val7' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val8' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val9' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val10' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val11' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val12' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val13' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val14' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val15' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val16' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val17' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val18' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val19' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val20' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val21' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val22' value=''> </input>
    							<input type='hidden' name='schedule[]' id='schedule_val23' value=''> </input>
                            <div class="text-right">
                                <h2>
                                    <small>Schedules Editor coming soon!  Defaults currently based off
                                        <a href="http://www1.eere.energy.gov/buildings/commercial/ref_buildings.html">DOE's Commercial Reference Buildings</a>
                                    </small>
                                </h2>
                                <h6 style="color:gray;">[
                                    <a href="http://www1.eere.energy.gov/buildings/commercial/ref_buildings.html">NREL Reference</a>|
                                    <a href="http://www.energycodes.gov/development/commercial/90.1_models">PNNL Prototype</a>|
                                    <a href="http://www.eia.gov/consumption/commercial/building-type-definitions.cfm">EIA Survey</a>]</h6>
                            </div>
                        </div>
					</section>
                    
                    <!-- ######################################### Energy Conservation Section ######################################### -->
                    <section id="conservation">
                        <div class="box-unit conservation">
                                <h2>Energy Efficiency Measures</h2>
                                <h2>
                                    <small><b>Step 1:</b> Simulate baseline model below. (Outputs include monthly energy, costs, zone loads.)</small>
                                </h2>
                                <h2>
                                    <small><b>Step 2:</b> Choose Energy Efficiency Measures on next page.&#160;&#160;&#160;</small>
                                </h2>
                            <!--label class="checkbox">
                                <input name="conservation_lighting" type="checkbox" disabled>Lighting Upgrade</label>
                            <label class="checkbox">
                                <input name="conservation_window" type="checkbox" disabled>Window Upgrade</label>
                            <label class="checkbox">
                                <input name="conservation_economizer" type="checkbox" disabled>Economizer</label-->
                        </div>
                    </section>
                    <!-- ###################################### Buttons Group ############################################# -->
                    <div id="box-unit">
                   
                        <input type="submit" class="btn btn-large btn-success" value="SIMULATE">
                        <a target='_blank' href="http://openstudio.nrel.gov/">
                        <img style="text-align:right;float:right;" src="img/doe-engines.png" alt="DOE"  height="58">
                        </a>
                        <br style="clear:both" />
                        <h2 class="text-right">
                            <small>powered by DOE's <a target='_blank' href="http://openstudio.nrel.gov/" style="color:inherit;">OpenStudio SDK</a> & <a target='_blank' href="http://apps1.eere.energy.gov/buildings/energyplus/" style="color:inherit;">EnergyPlus Engine</a></small>
                        </h2>
                    </div>
                  <h3 style="padding-left:20px;">Related Resources</h3>
                   <div class="box-unit">
                         <a class="btn" href="energy-use" target="_blank"><i class="icon-signal"></i> Example Outputs</a>
                         <a class="btn" href="http://tools.eebhub.org/game" target="_blank"><i class="icon-list-alt"></i> Energy Retrofit Game</a>
                         <a class="btn" href="http://tools.eebhub.org/comprehensive" target="_blank"><i class="icon-arrow-left"></i> Predecessor Tool</a>
                         <a target="_blank" href="http://www.engr.psu.edu/ae/">
                        <img style="text-align:right;float:right;" src="img/psu-light2.png" alt="PSU" width="132" height="61"> </a>
                        <br>
                        <br>
                        <br>
                        <h2 class="text-right"><small>developed by PSU Architectural Engineering</small></h2>
                    </div>
                    <div style="visibility:hidden"><input name="unit" value = "si" id="si-ip" /></div>
                    
                    </form>
                </div>
            </div>
         <!-- ################################ Loading Bar ##################################################### -->
            <div class="loading-div container-fluid">
             <div id="filter" >
             </div>
            
             <div class="progress progress-striped active">
             <div class="bar" ></div>
             </div>
            
             <h4 id="loading-status">Simulation In Progress ...
				<h6 id="real-time-output"></h4>
            </div>
            
            <!--  Testing Loading Bar 
            <button class="button" onclick="$('input, select, a, button').attr('disabled', 'disabled'); $('.main-div, header, .top-nav, footer').fadeTo('slow', 0.33);$('.loading-div').fadeIn('slow');  loading();"> Loading </button>
            -->
            <div id="drag"></div>
			<div id="drop"></div>
            
            <!-- Javascript: HighChart, Bootstrap, Jquery -->
    		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		    <script src="js/highcharts.js"></script>
			<script src="https://rawgithub.com/highslide-software/draggable-points/master/draggable-points.js"></script>
		    <script src="js/exporting.js"></script>
   			<script type="text/javascript" src="js/bootstrap.min.js"></script>

            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/bootstrap-scrollspy.js"></script>
            <script src="js/bootstrap-fileupload.js"></script>
			<script src="js/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
            	<script>
            	var chart = new Highcharts.Chart
				({

    				chart: 
					{
				        renderTo: 'graph-container',
				        animation: false		
				    },
					title: 
					{
						text: 'Occupancy Weekdays'
					},
				    xAxis: 
					{
				        categories:
						[
							'1',
							'2',
							'3',
							'4',
							'5',
							'6',
							'7',
							'8',
							'9',
							'10',
							'11',
							'12',
							'13',
							'14',
							'15',
							'16',
							'17',
							'18',
							'19',
							'20',
							'21',
							'22',
							'23',
							'24'	
						],
						title: 
						{
						    text: 'Hour'
						 }
    				},
			    yAxis:
				{
					min: 0.0,
					max: 1.0,
					title:
					{
						text: 'Percent Load'
					}
				},
			    plotOptions: 
				{		
			        series: 
					{
 				id: 'series-1',
            			cursor: 'ns-resize',
            			point: 
						{
            	    		events: 
							{                    
            	    	    	drag: function(e) 
								{
                                      for(var i = 0; i < 24; i++) { 
			 							 document.getElementById('schedule_val'+i).value = chart.get('series-1').data[i].y;
                                      }
      
								}
            	    		}
            			},
            			stickyTracking: false
        			},
		        	column: 
					{
        		    	stacking: 'normal'
        			}
    			},    
    			tooltip: 
				{
        			yDecimals: 2,
					valueDecimals:2
    			},
    			legend: {
                    enabled: false
                },
    			series: 
				[{
				id: 'series-1',
					name: 'Weekday',
			        data: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.2, 0.9, 0.9, 0.9, 0.9 , 0.5, 0.9, 0.9, 0.9, 0.9, 0.3, 0.1 , 0.1, 0.1, 0.1, 0.05, 0.05],
        			draggableY: true,
			        dragMinY: 0,
					dragMaxY: 1.0,
			        type: 'column',
					color: '#888',
			        minPointLength: 1
			    }]
			});
                        
			/*for(var i = 0; i < 24; i++) { 
				document.getElementById('schedule_val'+i).value = chart.get('series-1').data[i].y;
			}*/
		</script>
		
        <script>
			//var currentRanNum = Math.floor((Math.random()*10000)+1);									// random number 1->10,000 sent to simulate-openstudio.php to designate a path 
			//document.getElementById("random_number").value = currentRanNum;								// set hidden div "random_number" so that it can be retrieved by ruby script
			//document.write(document.getElementById("random_number").value);
			console.log("%d", document.getElementById("random_number").value);
			
        	function changeShape(shape) {
        		var extend_inputs= '';                  // additional shape info
        		var img_scr = '';                       // image source for the shape
                
                //var inputunitid = document.getElementById('input_unit_id');
                //var unitid = inputunitid.options[inputunitid.selectedIndex].value;
                var unitid = $("#si-ip").val();
                var unit = 'm';
                if(unitid=='ip'){
                    unit = 'ft';
                }else if(unitid=='si'){
                    unit = 'm';
                }
        
        		switch(shape) {
        		case 'L':
        			img_scr = 'L_Shape';
        			extend_inputs = ' <br><br><br>' +
        			                ' <div class="control-group"> <label class="control-label" for="length">Length</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="length" id="length"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="width">Width</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="width" id="width"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="end_1">End 1</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="end_1" id="end_1"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="end_2">End 2</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="end_2" id="end_2"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' ;
        		break;
        
        		case 'U':
        			img_scr = 'U_Shape';
        			extend_inputs = ' <br><br><br>' +
        			                ' <div class="control-group"> <label class="control-label" for="length">Length</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="length" id="length"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="width_1">Width 1</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="width_1" id="width_1"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="width_2">Width 2</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="width_2" id="width_2"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="end_1">End 1</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="end_1" id="end_1"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +    
        
        							' <div class="control-group"> <label class="control-label" for="end_2">End 2</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="end_2" id="end_2"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="offset">OffSet</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="offset" id="offset"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>';
        		break;
        
        		case 'T':
        			img_scr = 'T_Shape';
        			extend_inputs = ' <br><br><br>' +
        			                ' <div class="control-group"> <label class="control-label" for="length">Length</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" step="0.001" name="length" id="length"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="width">Width</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" step="0.001" name="width" id="width"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="end_1">End 1</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" step="0.001" name="end_1" id="end_1"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="end_2">End 2</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" step="0.001" name="end_2" id="end_2"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="offset">Offset</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" step="0.001" name="offset" id="offset"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span></div> </div>' ;
        		break;
        
        		case 'H':
        
        			img_scr = 'H_Shape';
        
        			extend_inputs = ' <br><br><br>' +
        			                ' <div class="control-group"> <label class="control-label" for="length">Length</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="length" id="length"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="width">Left Width</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="left_width" id="left_width"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="center_width">Center Width</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="center_width" id="center_width"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="right_width">Right Width</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="right_width" id="right_width"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="left_end_length">Left End Length</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="left_end_length" id="left_end_length"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +    
        
        							' <div class="control-group"> <label class="control-label" for="right_end_length">Right End Length </label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="right_end_length" id="right_end_length"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="left_upper_end_offset">Left Upper End Offset</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="left_upper_end_offset" id="left_upper_end_offset"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="right_upper_end_offset">Right Upper End OffSet</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="right_upper_end_offset" id="right_upper_end_offset"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>';
        		break;
        
        		case 'Rectangle':
        			img_scr = 'Rectangle';
        			extend_inputs = ' <br><br><br>' +
        			                ' <div class="control-group"> <label class="control-label" for="length">Length</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="length" id="length"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="width">Width</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="width" id="width"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>';
        		break;
        
        		case 'Pie':
        			img_scr = 'Pie_Shape';
        			extend_inputs = ' <br><br><br>' +
        			                ' <div class="control-group"> <label class="control-label" for="radius_a">Radius A</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="radius_a" id="radius_a"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="radius_b">Radius B</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="radius_b" id="radius_b"><span class="add-on">'+'<span class="unit">'+unit+'</span>'+'</span> </div> </div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="num_points">Number Of Points</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="num_points" id="num_points"></div></div>' +  
        
        							' <div class="control-group"> <label class="control-label" for="degree">Degree</label>' +
        			                ' <div class="controls input-append"> <input type="number" min="1" name="degree" id="degree"><span class="add-on">&deg;</span></div></div>';
        		break;
        		default:
        			extend_inputs = '';
        			$('#extend-div').html(extend_inputs);
        			return 0;
        		break;
        		}
        		var img = '<img style="width: 500px;" src="./img/geometry/'+img_scr+'.png" class="img-rounded">';
        		$('#extend-img').html(img);
        		$('#extend-div').html(extend_inputs);
        	}
        	 
        	
			var socket;
			var count = 0;
			var maxFileLines = 503;									// maximum amount of lines written to stdout
			var percentage = 100;									// multiplie to obtain percentage
			var currentRanNum = Math.floor((Math.random()*10000)+1);				// random number 1->10,000 sent to simulate-openstudio.php to designate a path 
			document.getElementById("random_number").value = currentRanNum;			// set hidden div "random_number" so that it can be retrieved by ruby script

			//console.log("%d", document.getElementById("random_number").value);

			$(document).ready(function(){
				var num;
				$("#real-time-output").html("");
				socket = io.connect('http://localhost:9099');
				
				socket.on('new-data', function(data) {
					//console.log(data.value);
					count++;					// increase log count
					if(count == 1)				// server callback function return, simluation has started
					{
						$("#loading-status").html("Starting Simulation...");
					}
					else						// output from stdout
					{
						num= (count/maxFileLines)*$(".loading-div").width();
						$(".bar").width(num);
						$("#loading-status").html("Simulation in Progress " +parseInt(num/$(".loading-div").width()*percentage)+"%");
						$("#real-time-output").html(data.value);
					}
				});	
			});
				


			function loading() 
			{
				setTimeout(function(){				// wait 15 seconds until file is created to start loading bar
					//console.log("waited");			
					socket.emit('randomNumber', currentRanNum);
				},3000);
				
							
			}
        	
        	
            // Verify the form inputs.
            // if the input is invalid, it popups an alert to warn the user.
            function valForm(theForm)
            {
            	var f = document.getElementById(theForm);	
            	var buildingName =	f.buildingName.value;
            	var locationID = f.weather.value;
            	var functionID = f.activityType.value;
            	var numberFloors = f.numberOfFloors.value;
            	//var floorArea = f.gross_floor_area.value;
            	var roofMaterial= f.roof_type.value;
            	var wallMaterial = f.exterior_wall_type.value;
            	var windowPercent = f.windowToWallRatio.value;
                var shape = f.footprintShape.value;
            
                // error message
            	var err_msg = "Please Enter Valid: \n\n";
            	
            	if(buildingName ==""){
            		err_msg+="Building - Building Name \n";
            	}
            	if(locationID ==""){
            		err_msg+="Building - City \n";
            	}
            	if(functionID ==""){
            		err_msg+="Building - Function \n";
            	}
            	
            	if(windowPercent =="" || windowPercent > 99 || windowPercent < 10){
            		err_msg+="Architecture - % Window to Wall Area \n";
            	}
            	if(numberFloors =="" || numberFloors < 0 || numberFloors > 300){
            		err_msg+="Architecture - Number of Floors \n";
            	}
            	if(floorArea =="" ||floorArea < 50 || floorArea > 7000000){
            		err_msg+="Architecture - Gross Floor Area \n";
            	}
            	if(shape == "") {
                    err_msg+="Architecture - Shape \n";            	    
            	}
            	
            	switch(shape){
            	    case 'Rectangle':
            	        if(f.length.value == "") {
            	            err_msg+="Architecture - Shape - Length \n";
            	        }
            	        if(f.width.value == "") {
            	            err_msg+="Architecture - Shape - Width \n";
            	        }
            	    break;
            	    
            	    case 'H':
            	        if(f.length.value == "") {
            	            err_msg+="Architecture - Shape - Length \n";
            	        }
            	        if(f.left_width.value == "") {
            	            err_msg+="Architecture - Shape - Left Width \n";
            	        }
            	        if(f.center_width.value == "") {
            	            err_msg+="Architecture - Shape - Center Width \n";
            	        }
            	        if(f.right_width.value == "") {
            	            err_msg+="Architecture - Shape - Right Width \n";
            	        }
            	        if(f.left_end_length.value == "") {
            	            err_msg+="Architecture - Shape - Left End Length \n";
            	        }
            	        if(f.right_end_length.value == "") {
            	            err_msg+="Architecture - Shape - Right End Length \n";
            	        }
            	        if(f.left_upper_end_offset.value == "") {
            	            err_msg+="Architecture - Shape - Left Upper End Offset \n";
            	        }
            	        if(f.right_upper_end_offset.value == "") {
            	            err_msg+="Architecture - Shape - Right Upper End Offset \n";
            	        }
            	    break;
            	    
            	    case 'L':
            	        if(f.length.value == "") {
            	            err_msg+="Architecture - Shape - Length \n";
            	        }
            	        if(f.width.value == "") {
            	            err_msg+="Architecture - Shape - Width \n";
            	        }
            	        if(f.end_1.value == "") {
            	            err_msg+="Architecture - Shape - End 1 \n";
            	        }
            	        if(f.end_2.value == "") {
            	            err_msg+="Architecture - Shape - End 2 \n";
            	        }
            	    break;
            	    
                    case 'T':
            	        if(f.length.value == "") {
            	            err_msg+="Architecture - Shape - Length \n";
            	        }
            	        if(f.width.value == "") {
            	            err_msg+="Architecture - Shape - Width \n";
            	        }
            	        if(f.end_1.value == "") {
            	            err_msg+="Architecture - Shape - End 1 \n";
            	        }
            	        if(f.end_2.value == "") {
            	            err_msg+="Architecture - Shape - End 2 \n";
            	        }
            	        if(f.offset.value == "") {
            	            err_msg+="Architecture - Shape - offset \n";
            	        }
            	    break;
            	    
            	    case 'U':
            	        if(f.length.value == "") {
            	            err_msg+="Architecture - Shape - Length \n";
            	        }
            	        if(f.width_1.value == "") {
            	            err_msg+="Architecture - Shape - Width 1 \n";
            	        }
            	        if(f.width_2.value == "") {
            	            err_msg+="Architecture - Shape - Width 2 \n";
            	        }
            	        if(f.end_1.value == "") {
            	            err_msg+="Architecture - Shape - End 1 \n";
            	        }
            	        if(f.end_2.value == "") {
            	            err_msg+="Architecture - Shape - End 2 \n";
            	        }
            	        if(f.offset.value == "") {
            	            err_msg+="Architecture - Shape - Offset \n";
            	        }
            	    break;
            	    
            	    case 'Pie':
            	        if(f.radius_a.value == "") {
            	            err_msg+="Architecture - Shape - Radius A \n";
            	        }
            	        if(f.radius_b.value == "") {
            	            err_msg+="Architecture - Shape - Radius B \n";
            	        }
            	        if(f.num_points.value == "") {
            	            err_msg+="Architecture - Shape - Number Of Points \n";
            	        }
            	        if(f.degree.value == "") {
            	            err_msg+="Architecture - Shape - Degree \n";
            	        }
            	    break;
            	    
            	    
            	    
            	}
            	
            	if(roofMaterial ==""){
            		err_msg+="Materials - Roof \n";
            	}
            	if(wallMaterial ==""){
            		err_msg+="Materials - Walls \n";
            	}
            
                // handle the submission success
            	if(err_msg == "Please Enter Valid: \n\n") 
            	{ 
                    $('#baseline-form, header, .top-nav, footer').fadeTo('slow', 0.33);
                    $('.loading-div').fadeIn('slow');  
            		$('html,body').css('overflow', 'hidden');
                    loading(); 
            		
            		return true; 
            	}	
            
                // handle the submission is failed 
            	else {      
            		alert(err_msg); 
            		return false;
            	}
            }
           
        	</script>
        	   <script src="js/uservoice-contact.js"></script>
        	   <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
              ga('create', 'UA-26348074-7', 'eebhub.org');
              ga('send', 'pageview');
            
            </script>
    </body>

</html>
