<!DOCTYPE HTML>
<html>

<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/bootstrap-fileupload.css" rel="stylesheet">
    <link href="css/partial.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/kinetic.js"></script>
    <script src="js/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>


    <style>
        body {
            margin: 0px;
            padding: 0px;
            padding-bottom: 90px;
        }
        .container {
            padding-top: 50px;
        }
        canvas {
            width: 30%;
            height: 30%;
            padding-left: 130px;
            padding-top: 30px;
        }
    </style>




</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">EEB Hub Retrofit Manager</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="data-structure">Data Structure</a>
                        </li>
                        <li>
                            <a href="walls">Wall Editor</a>
                        </li>
                        <li>
                            <a href="output">EnergyPlus Graphs</a>
                        </li>
                        <li>
                            <a href="simulations">EnergyPlus Files</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
                <div class="pull-right text-right">

                    <!--input type="radio" name="unitoption" value="si" checked="checked" onclick='$(".unit").html("m");$("#heating-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"24\" name=\"heating_setpoint\" /><span class=\"add-on\">&#186;C</span>");$("#cooling-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"26\" name=\"cooling_setpoint\" /><span class=\"add-on\">&#186;C</span>");$(".illu-unit").html("lux");$("#illuminance").html("<option value=\"150\">150 - storage</option><option value=\"200\">200 - casual work</option><option value=\"300\">300 - rough work</option><option value=\"400\">400 - office work (EU)</option><option value=\"500\" selected>500 - office work (US)</option>");$("#si-ip").val("si");$("body").css("background", "rgb(229, 229, 229)");'/><font color="yellow"> SI</font>
                        <input type="radio" name="unitoption" value="ip" onclick='$(".unit").html("ft");$("#heating-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"75\" name=\"heating_setpoint\" /><span class=\"add-on\">&#186;F</span>");$("#cooling-setpoint").html("<input type=\"number\" min=\"0\" class=\"span2\" id=\"appendedInput\" value=\"79\" name=\"cooling_setpoint\" /><span class=\"add-on\">&#186;F</span>");$(".illu-unit").html("lm/ft&#178;");$("#illuminance").html("<option value=\"150\">15 - storage</option><option value=\"200\">20 - casual work</option><option value=\"300\">30 - rough work</option><option value=\"400\">40 - office work (EU)</option><option value=\"500\" selected>50 - office work (US)</option>");$("#si-ip").val("ip");$("body").css("background", "rgb(194, 194, 194)");'/><font color="yellow"> IP</font-->

                    <ul class="nav pull-right">
                        <li>
                            <a href="http://www.buildsci.us/openstudio-nodejs.html">by PSU & UMd</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="span10 offset1">


            <h2>Building Input JSON</h2>
            <script src="https://gist.github.com/yzs132/10400664.js"></script>
            <h2>Building Output JSON</h2>
            <script src="https://gist.github.com/nmattise/11358160.js"></script>
            <h2>Explore Database</h2>

            <a href="http://128.118.67.242/rockmongo/index.php" class="btn btn-large btn-success">Admin Database Visualization</a>

        </div>



    </div>


</body>

</html>
