
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EEB Hub Simulation Tools: Comprehensive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
	<link href="css/comprehensive.css" rel="stylesheet">    

    <style>
    </style>

  </head>

  <body>

    <!-- Navbar 
    ================================================== -->
    
			<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-inner">
		    <div class="container-fluid" >
		      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="brand pull-left" href="http://tools.eebhub.org/">EEB Hub Simulation Platform</a>
		      <div class="nav-collapse collapse">
		        <ul class="nav">
		          <li class="">
		            <a href="http://tools.eebhub.org/lite">LITE</a>
		          </li>
		          <li class="">
		            <a href="http://tools.eebhub.org/partial">PARTIAL</a>
		          </li>
		          <li class="">
		            <a href="http://tools.eebhub.org/substantial">SUBSTANTIAL</a>
		          </li>
		          <li class="active">
		            <a href="http://tools.eebhub.org/comprehensive">COMPREHENSIVE</a>
		          </li>
		        </ul>
		      </div>
		    </div>
		  	</div>
			</div>
    <!-- Container -->
    <div class="container">

    <!-- Switch Pacakge -->
        
			<form action="" method="post">
				<div style="font-size: 25px; font-weight: bold; color: #eee; margin-top: 20px;">
				<select id="num_package" name="num_package" onchange="this.form.submit();"><option value="">Simulation_2652.idf</option><option value="Simulation_2652.idf">Simulation_2652.idf</option>				</select></div>
			</form>
        <!-- Sub-Nav-bar -->
        
			<!-- Sub-Nav-bar -->
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">Open Studio SDK And Energy Plus</a>
			    <ul class="nav">
			      <li class="active"><a href="energy-use">Energy</a></li>
				  <li class=""><a href="energy-intensity">Energy Intensity</a></li>
			      <li class=""><a href="zone-component-load">Zone Loads</a></li>
			      <li class=""><a href="energy-cost">Energy Cost</a></li>
			      <li class=""><a href="tracking-sheet">Tracking Sheet</a></li>
			    </ul>
			  </div>
			</div> 	
        <!-- Energy Intensity div -->
        <div>
          <div id="annula_energy_chart" style="min-width: 400px; height: 400px; margin: 40px auto"></div>

	<table class="table table-striped table-bordered" style="margin: 40px auto; ">
		<caption style="background: purple; color: #fff;"> <h3>Annual Energy Consumption And Intensity<h3> </caption>
     	       		<tr id="table-row-head">
              <th> -
              </th>
              <th> Total Electricity [kBtu]
              </th>
              <th> Total Natural Gas [kBtu]
              </th>
              <th> Total Energy [kBtu]
              </th>
              <th> Area [ft^2]
              </th>
              <th> Energy Per Total Building Area [kBtu/ft^2]
              </th>
              <th> Energy Per Conditioned Building Area [kBtu/ft^2]
              </th>
            </tr>
            <tr class="table-row-even">
              <th> Total Site Energy 
              </th>
              <td> 2691281.8
              </td>
              <td> 3044940.6
              </td>
              <td> 5736222.4
              </td>
              <td> 79655.9
              </td>
              <td> 72.0
              </td>
              <td> 72.0
              </td>
            </tr>
            <tr class="table-row-even">
              <th> Total Source Energy 
              </th>
                <td> 9624023.6
              </td>
              <td> 3325075.1
              </td>
              <td> 12949098.8
              </td>
              <td> 79655.9
              </td>
              <td> 162.6
              </td>
              <td> 162.6
              </td>
            </tr>            </table>

          <div id="energy_per_total_building_area_chart" style="min-width: 400px; width: 50%; height: 500px; float: left;"></div>
          <div id="energy_per_conditioned_building_area_chart" style="min-width: 400px; width: 50%; height: 500px; float: left; margin-bottom: 50px;"></div>
        </div>

        
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- load highchart libs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="js/Highcharts-3.0.4/js/highcharts.js"></script>
    <script src="js/Highcharts-3.0.4/js/modules/exporting.js"></script>
    
     <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- HighCharts -->
    <script>
     // Annual Total Site and Source Energy
     $(function () {
        $('#annula_energy_chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Annual Site and Source Energy Consumption (kBtu)'
            },
            xAxis: {
                categories: ['Total Site Energy', 'Total Source Energy' ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Energy Consumption (kBtu)'
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            // Dynamic Data
			                series: [{
                name: 'Pumps',
				color: 'orange',
                data: [41219.7, 147401.8]
            }, {
                name: 'Fans',
				color: 'black',
                data: [110279.0, 394357.8]
            }, {
                name: 'Cooling',
				color: 'green',
				data: [369686.4, 1321998.5]
            }, {
                name: 'Heating-Natural-Gas',
				color: 'red',
                data: [3044940.6, 3325075.1]
            }, {
                name: 'Iterior Lighting',
				color: '#3388ff',
				data: [879846.8, 3146332.2]
            }, {
                name: 'Interior Equipment',
				color: 'purple',
                data: [1290249.8, 4613933.4]
            }, {
                name: 'Exterior Lighting',
				visible: false,
                data: [0.0, 0.0]
            }, {
                name: 'Heating-Electricity',
				 visible: false,
                data: [0.0, 0.0]
            }, {
                name: 'Exterior Equipment',
 				visible: false,
                data: [0.0, 0.0]
            }, {
                name: 'Heating Rejecation',
 				visible: false,
                data: [, ]
            }, {
                name: 'Humidification',
				visible: false,
                data: [0.0, 0.0]
            }, {
                name: 'Heat Recovery',
 				visible: false,
                data: [0.0, 0.0]
            }, {
                name: 'Water Systems',
 				visible: false,
                data: [0.0, 0.0]
            }, {
                name: 'Refrigeration',
 				visible: false,
                data: [0.0, 0.0]
            }, {
                name: 'Generations',
 				visible: false,
                data: [, ]
            }] // end of data
        });
    });

	$(function () {
	    $('#energy_per_total_building_area_chart').highcharts({
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: 'Energy Per Total Building Area (kBtu/ft2)'
	        },
	        xAxis: {
	            categories: ['Total Site Energy', 'Total Source Energy' ]
	        },
	        yAxis: {
	            min: 0,
	            title: {
	                text: 'Energy Consumption (kBtu/ft2)'
	            }
	        },
	        legend: {
	            backgroundColor: '#FFFFFF',
	            reversed: true
	        },
	        plotOptions: {
	            series: {
	                stacking: 'normal'
	            }
	        },
			// Dynamic Data
										series: [{
							name: 'Electricity',
							data: [33.786346020822, 120.81997190415]
						}, {
							name: 'Natural Gas',
							color: 'red',
							data: [38.226177847466, 41.742985767533]
						}]        });
    });
    
    $(function () {
        $('#energy_per_conditioned_building_area_chart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Energy Per Conditioned Building Area (kBtu/ft2s)'
            },
            xAxis: {
                categories: ['Total Site Energy', 'Total Source Energy' ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Energy Consumption (kBtu/ft2)'
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            // Dynamic Data
			                series: [{
                name: 'Electricity',
                data: [33.786346020822, 120.81997190415]
            }, {
                name: 'Natural Gas',
				color: 'red',
                data: [38.226177847466, 41.742985767533]
            }] // end of Data
        });
    });
    </script>
  </body>
</html>
