<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EEB Hub Simulation Tools: Comprehensive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/comprehensive.css" rel="stylesheet">
    <link href="css/partial.css" rel="stylesheet">
    <script src="js/jquery.js"></script>


    <style>
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">EEB Hub Retrofit Manager</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="data-structure">Data Structure</a>
                        </li>
                        <li>
                            <a href="walls">Wall Editor</a>
                        </li>
                        <li class="active">
                            <a href="outputs">EnergyPlus Graphs</a>
                        </li>
                        <li>
                            <a href="simulations">EnergyPlus Files</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
                <div class="pull-right text-right">
                    <ul class="nav pull-right">
                        <li>
                            <a href="http://www.buildsci.us/openstudio-nodejs.html">by PSU & UMd</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">


            <div class="navbar">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="brand" href="#">Simulation Results</a>
                        <ul class="nav">
                            <li class="active">
                                <a href="#general" data-toggle="tab">General Information</a>
                            </li>
                            <li>
                                <a href="#use" data-toggle="tab">Energy Use</a>
                            </li>
                            <li>
                                <a href="#intensity" data-toggle="tab">Energy Intensity</a>
                            </li>
                            <li>
                                <a href="#costs" data-toggle="tab">Utility Costs</a>
                            </li>



                        </ul>
                        <div class="pull-right text-right">
                            <ul class="nav pull-right">
                                <li>
                                    <button type="button" class="btn btn-info" data-toggle="button" onclick="TogetherJS(this); return false;">Collaborate</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <div class="row">
                        <div class="box-unit span5">
                            <h3 style="text-align:center">General Simulation Info</h3>
                            <% include partials/tables/general %>
                        </div>
                        <div class="box-unit span5">
                            <h3 style="text-align:center">Building Area</h3>
                            <% include partials/tables/buildingArea %>
                                <h3 style="text-align:center">Skylight Roof Ratio</h3>
                                <% include partials/tables/SkylightRoofRatio %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-unit">
                            <h3 style="text-align:center">Window Wall Ratio</h3>
                            <% include partials/tables/windowWallRatio %>
                        </div>

                    </div>
                    <div class="row">
                        <div class="box-unit">
                            <h3 style="text-align:center">Comfort and Setpoint Summary</h3>
                            <% include partials/tables/comfortandSetpointSummary %>
                        </div>

                    </div>

                </div>
                <div class="tab-pane" id="use">
                    <div class="row">
                        <div class="box-unit">

                            <% include partials/electConsumption %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-unit">
                            <h3 style="text-align:center">Electricity Consumption by End Use</h3>
                            <% include partials/tables/buildingElectricityPerformance %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-unit">
                            <% include partials/ngConsumption %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="box-unit">
                            <h3 style="text-align:center">Natural Gas Consumption by End Use</h3>
                            <% include partials/tables/buildingNatGasPerformance %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <% include partials/charts/electEndUses %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="intensity">
                    <div class="box-unit">
                        <% include partials/siteSourceConsumption %>
                    </div>
                    <div class="box-unit">
                        <h3 style="text-align:center">Site and Source Energy Use and Intensity</h3>
                        <% include partials/tables/siteSourceEnergy %>
                    </div>
                    <div class="row">
                        <div class="box-unit span6">

                            <% include partials/energyTotalBuildingAreaChart %>
                        </div>
                        <div class="box-unit span5">
<h3 style="text-align:center">Site to Source Energy Conversions</h3>
                        <% include partials/tables/siteSourceEnergyConversion %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="costs">
                    <div class="box-unit">
                        <% include partials/electricityMonthlyCostChart %>
                    </div>
                    <div class="box-unit">
                        <h3 style="text-align:center">Monthly Electricity Utility Cost</h3>
                        <% include partials/tables/electricCostMonthly %>
                    </div>
                    <div class="box-unit">
                        <% include partials/naturalGasMonthlyCostChart %>
                    </div>
                    <div class="box-unit">
                        <h3 style="text-align:center">Monthly Gas Utility Cost</h3>
                        <% include partials/tables/gasCostMonthly %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <script src="js/canvasjs.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Highcharts-3.0.4/js/highcharts.js"></script>
    <script src="js/Highcharts-3.0.4/js/modules/exporting.js"></script>
</body>

</html>
